.container__carousel {
  @include FlexRowBase;
  position: relative;
  width: 100%;
  overflow: hidden;

  button {
    width: fit-content;
    z-index: 100;
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    border: none;
    background: none;
    svg {
      fill: black;
      opacity: 0.9;
      width: 40px;
      height: 40px;
    }
    &:hover {
      svg {
        fill: $UNSELECTED;
      }
    }
  }
  button:first-of-type {
    left: 0%;
  }
  button:last-of-type {
    right: 0%;
  }
}
.box__carousel {
  @include FlexRowBase;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-basis: 33.33%;
  height: 350px;
  transition: all 0.6s ease;
  border-right: 5px solid black;
  cursor: pointer;
  &:nth-child(n + 3) {
    border: none;
  }
  &:hover {
    flex-basis: 100%;
  }

  .background__item-carousel {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left;
    }
  }
}
.mobile_box {
  flex-basis: 100%;
}
.dark__opacity {
  opacity: 0.5;
}
.light__opacity {
  opacity: 1;
}
.content__box {
  @include FlexColBase;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 100;
  gap: 5px;
  width: 60%;
  height: 50%;
  text-align: center;
  border-radius: 5px;
  background-color: rgba(12, 9, 9, 0.589);
  animation: appear 0.8s linear;

  a {
    text-decoration: none;
    padding: 7px;
    background-color: $SECOND_COLOR;
    border-radius: 5px;
    color: $MAIN_COLOR;
    font-weight: 600;
  }
}
.content__box-no_display {
  display: none;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
