.light__background {
  background: $THIRD_COLOR;
  border-radius: 5px;
  margin-top: 50px;
  .left_right-box {
    > div {
      @include FlexColBase;
      gap: 10px;
      .container__content-testimonial {
        @include FlexRowBase;
        gap: 10px;
        height: fit-content;
        @include respond-to("small") {
          height: 190px;
        }
      }
    }
  }
}

.content__box-testimonial {
  max-width: 450px;
  @include FlexColBase;
  gap: 5px;

  p:first-child {
    color: rgba(255, 255, 255, 0.8);
  }
  > p:nth-child(2) {
    font-weight: 600;
  }
  > div {
    @include FlexRowBase;
    height: fit-content;
    gap: 5px;
    p {
      color: rgba(255, 255, 255, 0.8);
    }
    a {
      height: 100%;
      color: $SECOND_COLOR;
      svg {
        height: 100%;
        &:hover {
          fill: white;
        }
      }
    }
  }
}
.yellow_band {
  flex-shrink: 0;
  width: 30px;
  height: 2px;
  margin-top: 10px;
  background-color: $SECOND_COLOR;
}
.container__bullets {
  @include FlexRowBase;
  gap: 5px;
  width: 50%;
  margin: 0 auto;
  align-items: center;
  justify-content: center;
  .bullets {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    border: none;
    background: none;
  }
  .background__yellow {
    background-color: $SECOND_COLOR;
  }
  .background__white {
    background-color: white;
  }
}
