.custom_heigth-home {
  height: calc(100vh - 64px) !important;
  @include FlexRowBase;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 64px;
}
.intro__content-box {
  @include FlexColBase;

  div {
    @include FlexRowBase;
    gap: 5px;
    height: fit-content;
    align-items: center;
    strong {
      margin-left: 5px;
      font-size: $SMALLTEXT;
      color: $SECOND_COLOR;
      font-weight: 600;
      @include respond-to("medium") {
        font-size: $MEDIUMTEXT;
      }
    }
  }
  span {
    font-style: italic;
    display: inline-block;
    margin-bottom: 15px;
  }
  a {
    width: fit-content;
    padding: 8px;
    background: none;
    border: 2px solid $SECOND_COLOR;
    color: $SECOND_COLOR;
    font-weight: 600;
    transition: all 0.6s ease;
    &:hover {
      border-color: white;
      color: white;
    }
  }
}
.container_cartoon {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 450px;
  @include respond-to("medium") {
    width: 80%;
  }
  img {
    width: 100%;
    height: 100%;
    min-height: 450px;
    max-height: 450px;
    object-fit: contain;
  }
}
.container__social {
  @include FlexColBase;
  align-items: center;
  gap: 5px;
  position: absolute;
  top: 30%;
  right: 20%;
  width: fit-content;
  height: 30%;
  z-index: 90;
  .yellow__band {
    width: 3px;
    background-color: $SECOND_COLOR;
    height: 100%;
  }
  .container_icone {
    @include FlexColBase;
    align-items: center;
    gap: 5px;
    svg {
      width: 20px;
      height: 20px;
      fill: white;
      &:hover {
        fill: $SECOND_COLOR;
      }
    }
  }
}
